@model PEMO_DATA_BANKING.Models.Association

@{
    ViewBag.Title = "Edit Association";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Edit Association</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Association_id)

            <div class="form-group row">
                @Html.LabelFor(model => model.Association_name, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.Association_name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Association_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="float-right">
                        <input type="submit" value="Save" class="btn btn-primary mr-2" />
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
